/*Select 1*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 0px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

body.fieldset {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*shadow sombra alargadar en el contorno*/
fieldset {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    width: 400px;
}



fieldset label {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

fieldset legend {
    background-color: #de0909;
    padding-top: 20px;
    display: flex;
    text-align: center;

}



input,
select,
textarea {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px, solid #de0909;
    border-radius: 4px;
}

fieldset input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px, solid #de0909;
    border-radius: 4px;
}


button {
    width: 90%;
    padding: 10px;
    background-color: yellow;
    color: red;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}