/* 


2.- Selector de clase (inicia con un punto)
- Mayoría de framework usan este tipo de selector
- Que al inicio de la etiqueta/selector en CSS inicia con un punto, es una selector de clase
- Los selectores de clase son de su propia imaginación
CSS:
    .Título{}
    .Cuerpo{}
    .Ficha{}
HTML:
    <p class="Cuerpo"> texto que aparece en pantalla
    </p>
Debe ser el mismo que se puso en HTML y en CSS
    diferencias:
    - Varios elementos/etiquetas HTML pueden aplicar la misma clase




3.-Selector ID (se antepone el #) -Cuando se asigna/relaciona con un ID unico a una etiqueta/elemento HTML

CSS:
    #Titulo{}
    #Cuerpo{}
    #Ficha{}

HTML:


    <p id="Cuerpo"> texto que aparece en pantalla </p>

Diferencias: -Solo un elemento/etiqueta HTML puede aplicar esa clase

4.-selector combinado (donde especifica la etiqueta HTML por niveles)
*/

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

body {
    font-family: sans-serif;
    background: linear-gradient(90deg, #9ec5ff, #81f0ff);
    backdrop-filter: blur(10px);
}

.caja {
    width: 30%;
    padding: 11px;
    border: 2px solid black;
    margin: 15px;
    background-color: aquamarine;
    text-align: center;
}

.inlinebc {
    display: inline-block;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    background-color: greenyellow;
}

.flexible {
    margin: 20px;
    padding: 2px;
    display: flex;
    border: 1px solid black;
    background-color: rgb(240, 255, 143);
    justify-content: center;

}

nav a {
    padding: 10px;
}

nav a:hover {
    background: white;
    border: 2px dotted chocolate;
    border-radius: 10px;
    transform: scale(1.05);
}

header nav {
    position: sticky;
    background-color: #8a79e9;
    color: black;
    padding: 15px;
    top: 1px;
    text-align: center;

}

button {
    padding: 5px;
    border: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: tomato;
    transition: background 0.3s, transform 0.2;
}

button.boton {
    background-color: crimson;
    color: #81f0ff;
}

.boton:hover {
    transform: scale(2);
}

header a {
    color: black;
}

h1,
h2,
h3 {
    margin-bottom: 30px;
    color: coral;
    font-weight: 800;
    text-align: center;
    animation: slideInFromLeft 2s ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        /* Estado inicial: El elemento está completamente fuera de la vista a la izquierda */
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        /* Estado final: El elemento está en su posición normal */
        transform: translateX(0);
        opacity: 1;
    }
}

.resalta {
    color: #003366;
    font-weight: bold;
    background: #d8e6f5;
    padding: 5px 10px;
    border-left: 4px solid #003366;
}

footer {
    background-color: #552868;
    padding: 20px;
    text-align: center;
    color: white;
}

/* 768 para pantalla mediana */
@media (max-width: 768px) {
    body {
        background: orange;
    }

    .caja {
        background-color: #552868;
        width: 20%;
    }
}



/* 480 para pantalla pequeña */
@media (max-width: 480px) {
    body {
        background: aqua;
    }
    .caja {
        background-color: #552868;
        width: 10%;
    }
}